.about-container {
  width: 70%;
  display: flex;
  flex-flow: column;
}

.about-content h1 {
  font-size: 5vw;
  margin: 0;
}

.about-content p {
  font-size: 1vw;
  margin: 0;
}

.toolkit-bg-header {
  transform: translateX(-70px);
  font-size: 180px;
  margin: 0;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.1);
}

.toolkit {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem 2rem 2rem;
  /* justify-content: space-between; */
  transform: translateY(-90px);
  background-color: var(--bg-primary);
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.3);
}

.tool-section-header {
  font-size: 1vw;
  /* font-size: 16px; */
  font-weight: 600;
}

.tool-section {
  flex: 1 0 45%;
}

.frontend {
  display: flex;
  flex-flow: column;
}

.frontend-header {
  border-bottom: 3px solid #ffa500;
}

.backend-header {
  border-bottom: 3px solid #bc25f1;
}

.tools-header {
  border-bottom: 3px solid #fd2155;
}

.learning-header {
  border-bottom: 3px solid #20e7c9;
}

.single-tool-container {
  width: 16%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

.single-tool-container img {
  width: 100%;
  height: 100%;
}

.single-tool-container p {
  margin: 0;
  font-size: 1vw;
  font-weight: 600;
}

.tool-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

@media (max-width: 1440px) {
  .about-container {
    padding-top: 3rem;
    width: 75%;
  }
  .tool-section {
    flex: 1 0 45%;
  }
  .toolkit-bg-header {
    font-size: 100px;
    transform: translateY(-40px);
  }
  .tool-section-header {
    margin: 1rem 0;
  }
  .about-container {
    gap: 3rem;
  }
}

@media (max-width: 700px) {
  .toolkit-bg-header {
    transform: translateY(0);
    font-size: 66px;
  }
  .toolkit {
    transform: translateY(-20px);
  }
  .single-tool-container {
    width: 20%;
  }
}
