.projects-page-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.projects-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95svh;
  background-color: var(--bg-primary);
}

.project-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  width: 60%;
  background-color: var(--bg-primary);
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
}

.project-headline > p {
  font-size: 110px;
  margin: 0;
  line-height: 1.1;
  /* color: var(--text-primary); */
  color: rgb(231, 231, 231);
  /* text-shadow: 0px 0px 5px var(--text-accent); */
}

/* .project-headline span {
  background-color: var(--text-accent);
  padding: 0 1rem;
} */

.project-headline a {
  color: var(--bg-primary);
  background-color: var(--text-accent);
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
}

.projects-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  min-height: 140svh;
}

.project {
  display: flex;
  align-items: center;
  max-width: 80rem;
  background-color: var(--project-bg);
  padding: 2.5rem;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}

.project-img {
  position: relative;
  min-width: 45rem;
  max-width: 45rem;
  height: 30rem;
  transform: translateX(-8rem);
  transition: all 0.2s;
}

.project-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.project-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    var(--primary-gradient) 0%,
    var(--secondary-gradient) 100%
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  opacity: 0.4;
  transition: all 0.2s;
}

.project-img:hover::before {
  opacity: 0;
  z-index: -1;
}

.project-img:hover {
  transform: translateX(-8rem) scale(1.03);
}

.project-title {
  font-size: 2.5vw;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: var(--text-accent);
}

.project-info > p {
  font-size: 0.9vw;
  color: var(--faded-font);
  margin: 0;
}

.project-tools {
  display: flex;
  font-size: 1.2vw;
  color: var(--text-accent);
  font-weight: 500;
  gap: 1rem;
  margin-bottom: 2rem;
}

.project-btns {
  display: flex;
  gap: 1rem;
}

.project-btns a {
  all: unset;
  background-color: transparent;
  border: 1px solid var(--text-accent);
  font-size: 1vw;
  color: var(--text-accent);
  font-weight: 500;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;
}

.project-btns a:hover {
  background-color: var(--project-btn-hover);
}

@media (max-width: 1440px) {
  .project-headline {
    font-size: 80px;
  }
  .project {
    max-width: 70rem;
  }
  .project-img {
    min-width: 40rem;
    max-width: 40rem;
  }
  .project-img {
    transform: translateX(-6rem);
  }
  .project-img:hover {
    transform: translateX(-6rem) scale(1.03);
  }
}

@media (max-width: 1068px) {
  .project {
    max-width: 80rem;
  }
  .project-img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media (max-width: 868px) {
  .project {
    max-width: 70rem;
  }
}

@media (max-width: 768px) {
  .project {
    padding: 2.5rem;
    flex-direction: column;
  }
  .project-img {
    min-width: 100%;
    transform: translate(0, -8rem);
  }
  .project-img:hover {
    transform: translateY(-8rem) scale(1.03);
  }
  .project-info {
    margin-top: -6rem;
  }
}
