.projects-page-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.projects-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95svh;
  background-color: var(--bg-primary);
}

.project-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  /* width: 60%; */
  background-color: var(--bg-primary);
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
}

.project-page-header {
  display: flex;
  flex-direction: column;
}

.project-page-header > p {
  font-size: 140px;
  margin: 0;
  line-height: 1.1;
  /* color: var(--text-primary); */
  color: var(--project-headline);
  /* text-shadow: 0px 0px 5px var(--text-accent); */
}

.project-headline img {
  min-width: 30rem;
  max-width: 30rem;
  height: auto;
  object-fit: contain;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}

.project-header-img {
  position: relative;
}

.project-header-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    var(--primary-gradient) 0%,
    var(--secondary-gradient) 100%
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  opacity: 0.4;
  transition: all 0.2s;
}

/* .project-headline span {
  background-color: var(--text-accent);
  padding: 0 1rem;
} */

.project-page-headline-btn a {
  color: var(--bg-primary);
  background-color: var(--text-accent);
  border-radius: 0.8rem;
  padding: 0.7rem 1.4rem;
  text-decoration: none;
  font-size: 18px;
}

.project-page-headline-btn {
  margin-top: 2rem;
}

.projects-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  min-height: 140svh;
}

.project {
  display: flex;
  align-items: center;
  max-width: 80rem;
  background-color: var(--project-bg);
  padding: 2.5rem;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
}

.project-img {
  position: relative;
  min-width: 45rem;
  max-width: 45rem;
  height: 30rem;
  transform: translateX(-8rem);
  transition: all 0.2s;
}

.project-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.project-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    var(--primary-gradient) 0%,
    var(--secondary-gradient) 100%
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  opacity: 0.4;
  transition: all 0.2s;
}

.project-img:hover::before {
  opacity: 0;
  z-index: -1;
}

.project-img:hover {
  transform: translateX(-8rem) scale(1.03);
}

.project-title {
  font-size: 2.5vw;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: var(--text-accent);
}

.project-info > p {
  font-size: 1.1vw;
  color: var(--faded-font);
  margin: 0;
}

.project-info p {
  margin-bottom: 10px;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3vw;
  color: var(--text-accent);
  font-weight: 500;
  gap: 1rem;
  margin-bottom: 2rem;
}

.project-btns {
  display: flex;
  gap: 1rem;
}

.project-btns a {
  all: unset;
  background-color: transparent;
  border: 1px solid var(--text-accent);
  font-size: 1vw;
  color: var(--text-accent);
  font-weight: 500;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;
}

.project-btns a:hover {
  background-color: var(--project-btn-hover);
}

@media (max-width: 1440px) and (max-height: 1024px) {
  .projects-landing {
    align-items: flex-start;
    padding-top: 3rem;
  }
  .project-headline {
    font-size: 80px;
    width: auto;
  }
  .project-page-header > p {
    font-size: 90px;
  }
  .project-headline img {
    min-width: 19rem;
    max-width: 19rem;
    height: auto;
  }
  .project {
    max-width: 70rem;
  }
  .project-img {
    min-width: 40rem;
    max-width: 40rem;
  }
  .project-img {
    transform: translateX(-6rem);
  }
  .project-img:hover {
    transform: translateX(-6rem) scale(1.03);
  }
  .project-page-headline-btn {
    margin-top: 0rem;
  }
}

@media (max-width: 1440px) and (min-height: 1024px) {
  .projects-landing {
    align-items: center;
    padding-top: 0rem;
  }
  .project-page-header > p {
    font-size: 120px;
  }
  .project-headline img {
    min-width: 25rem;
    max-width: 25rem;
    height: auto;
  }
  .project-page-headline-btn {
    margin-top: 0rem;
  }
}

@media (max-width: 1068px) {
  .project {
    max-width: 80rem;
  }
  .project-img {
    min-width: 30rem;
    max-width: 30rem;
  }
  .project-page-headline-btn {
    margin-top: 0rem;
  }
}

@media (max-width: 868px) {
  .project {
    max-width: 70rem;
  }
  .project-page-headline-btn {
    margin-top: 0rem;
  }
}

@media (max-width: 768px) {
  .projects-landing {
    align-items: flex-start;
    padding-bottom: 4rem;
  }
  .project-page-header {
    display: flex;
    flex-direction: column;
  }
  .project-page-header > p {
    font-size: 80px;
  }
  .project-page-header a {
    margin-top: 1rem;
    text-align: center;
  }
  .project-page-headline-btn {
    margin-top: 0rem;
  }
  .project-headline {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    width: 85%;
    padding: 1rem;
  }
  .project-headline img {
    min-width: 17rem;
    max-width: 17rem;
    height: auto;
  }
  .projects-container {
    gap: 4rem;
    padding-top: 6rem;
  }
  .project {
    padding: 2.5rem;
    flex-direction: column;
  }
  .project-img {
    min-width: 100%;
    transform: translate(0, -8rem);
  }
  .project-img:hover {
    transform: translateY(-8rem) scale(1.03);
  }
  .project-info {
    margin-top: -6rem;
  }
  .project-img {
    position: relative;
    min-width: 20rem;
    max-width: 20rem;
    height: 20rem;
  }
  .project-title {
    font-size: 7vw;
  }
  .project-info > p {
    font-size: 4vw;
  }
  .project-tools p {
    font-size: 4vw;
  }
  .project-btns a {
    font-size: 4vw;
  }
}
