:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #191919;
  background-color: #f3f4f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
