.container {
  height: 100svh;
  position: relative;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  flex-flow: column;
}

@media (max-width: 1440px) and (max-height: 700px) {
  .container {
    /* height: ; */
  }
}

@media (max-width: 700px) {
  .container {
    height: auto;
  }
}
